root = true

# Matches multiple files with brace expansion notation
# Set default charset
#[*.{sh,nix,toml,org,md,yaml}]
[*]
charset = utf-8

[*.sh]
indent_style = space
indent_size = 2

[{profile,profile-darwin,zshrc}]
indent_style = space
indent_size = 2

[*.age]
charset = binary

# Editorconfig really wants to do stupid crap here
[/secrets/**]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset
