root = true

# Matches multiple files with brace expansion notation
# Set default charset
#[*.{sh,nix,toml,org,md,yaml}]
[*]
charset = utf-8

[*.sh]
indent_style = space
indent_size = 2

[{profile,profile-darwin,zshrc}]
indent_style = space
indent_size = 2

[*.age]
charset = binary

# God knows why these are diff charset
[secrets/canary.age]
charset = Windows-1252
[secrets/cifs/backup.age]
charset = Windows-1252
[secrets/cifs/mitch.age]
charset = Windows-1252
[secrets/passwd/mitch.age]
charset = Windows-1252
[secrets/wifi/newerhotness.age]
charset = Windows-1252
[secrets/wifi/passphrase.age]
charset = Windows-1252
[secrets/wireguard/prv/mbp.age]
charset = Windows-1252
[secrets/git/netrc.age]
charset = Windows-1253
[secrets/git/gh-cli-pub.age]
charset = binary
