root = true

[*]
end_of_line = lf

# Matches multiple files with brace expansion notation
# Set default charset
[*.{sh,nix}]
charset = utf-8

[*.sh]
indent_style = space
indent_size = 2

[{profile,profile-darwin,zshrc}]
indent_style = space
indent_size = 2

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[/secrets/**/*.age]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset